<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.iffy.mianshi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name=".application.MyApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".activity与fragment通信.MainActivity">

        </activity>
        <activity android:name=".application.ActivityApplicationA">

        </activity>
        <activity android:name=".application.ActivityApplicationB"></activity>

        <service android:name=".bindService.Beband" />
        <service android:name=".messenger.MessengerService" />
        <service android:name=".intentservice.MyIntentService" />

        <activity android:name=".intentservice.MyIntentServiceActivity">

        </activity>
        <activity android:name=".messenger.MessengerActivity">

        </activity>
        <activity android:name=".broadcast.BroadcastActivity"></activity>
        <activity android:name=".alertpopupdialog.PopupDialog"></activity>
        <!--动画-->
        <activity android:name=".animator.ValueAnimatorActivity"></activity>

        <activity android:name=".animator.PropertyAnimatorActivity"></activity>
        <activity android:name=".animator.transition.SimpleTransitionDemoActivity"></activity>

        <activity android:name=".animator.sceneTransition.Aactivity"></activity>
        <activity android:name=".animator.sceneTransition.Bactivity">

        </activity>
        <!--布局-->
        <activity android:name=".constraintLayout.MyConstraintLayout">

        </activity>

        <!--Surface view-->
        <activity android:name=".surfaceView.SurfaceActivity"></activity>

        <!--ListActivity-->

        <activity android:name=".list.ListActivity"></activity>

        <!--RecyclerActivity-->
        <activity android:name=".recyclerView.RecyclerActivity">
        </activity>
        <activity android:name=".recyclerView.animation.RecyclerAnimationActivity">

        </activity>



        <!--RecyclerInRecyclerActivity-->
        <activity android:name=".recyclerView.RecyclerInRecyclerActivity"></activity>

        <!--序列化-->
        <activity android:name=".序列化.ActivityA"></activity>

        <activity android:name=".序列化.ActivityB"></activity>

        <!--差值器-->
        <activity android:name=".animator.插值器.插值器Activity">

        </activity>

        <!--存储-->
        <activity android:name=".存储.StoreActivity"></activity>

        <!--View机制-->
        <activity android:name=".view刷新机制.ViewActivity"></activity>

        <!--Network类-->
        <activity android:name=".network.NetWorkActivity"></activity>

        <!--View优化-->
        <activity android:name=".view优化.ViewOptActivity"/>

        <!--自定义View-->
        <activity android:name=".viewCustomize.CustomizeViewActivity">

        </activity>


        <activity android:name=".view事件分发.ViewClickActivity"></activity>
        <!-- Aysnc task-->
        <activity android:name=".async.AsyncActivity"></activity>
        <activity android:name=".async.CoroutineMainScopeActivity"></activity>
        <activity android:name=".async.RxjavaActivity" />

        <activity android:name=".async.HandlerActivity"></activity>

        <activity android:name=".async.HandlerThreadActivity">

        </activity>


        <activity android:name=".async.HandlerBetweenMainAndSubActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--popupwindow-->
        <activity android:name="com.iffy.mianshi.popupwindow.PopUpWinActivity" />

        <activity android:name=".hashmapSpareArrau.HashMapSpareArrayActivity">

        </activity>

        <activity android:name=".多线程.MultithreadingActivity">

        </activity>

        <activity android:name=".多线程.ProduceCustomerActivity">

        </activity>


    </application>

</manifest>