<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iffy.mianshi">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--使用权限 来获得访问MessageIPCService的权限-->
    <uses-permission android:name="com.iffy.mianshi.multiProcess.permission.REMOTE_SERVICE_PERMISSION" />

    <!--MessageIPCService声明权限，只有Use这个权限的app才能绑定我-->
    <permission
        android:name="com.iffy.mianshi.multiProcess.permission.REMOTE_SERVICE_PERMISSION"
        android:protectionLevel="normal" />

    <!--限制PROVIDER的写入权限， 也可以添加读取权限-->
    <permission
        android:name="com.iffy.permission.WRITE_CONTENT_PROVIDER"
        android:protectionLevel="normal" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <activity android:name=".activityFragmentComunication.MainActivity">

        </activity>
        <activity android:name=".application.ActivityApplicationA">

        </activity>
        <activity android:name=".application.ActivityApplicationB">

        </activity>

        <service android:name=".bindService.Beband" />
        <service android:name=".messenger.MessengerService" />

        <!--对于webview，图库等，由于存在内存系统泄露或者占用内存过多的问题，
        我们可以采用单独的进程。微信当前也会把它们放在单独的tools进程中
        开启多进程的方法很简单，只需要给四大组件指定android:process标签。-->
        <service
            android:name=".multiProcess.MessageIPCService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".multiProcess.IPCActivity">

        </activity>

        <activity android:name=".oom.OomActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".oom.LeakTestActivity">


        </activity>

        <!--authoritie必须和URI一致 而且不能和其他provider重复
        Provider可以提供读权限，写权限，或者权限，-->
        <provider
            android:name="com.iffy.mianshi.storage.provider.IffyContentProvider"
            android:authorities="com.iffy.mianshi.storage.provider.PersonContentProvider"
            android:exported="true"
            android:writePermission="com.iffy.permission.WRITE_CONTENT_PROVIDER" />

        <activity android:name="com.iffy.mianshi.storage.provider.TestProviderActivity">

        </activity>


        <activity android:name=".messenger.MessengerActivity">

        </activity>
        <activity android:name=".broadcast.BroadcastActivity">

        </activity>
        <receiver android:name=".broadcast.MyLocalBroadCastReceiver" >
            <intent-filter>
                <action android:name="com.iffy.mianshi.ReceiverLocal" />
            </intent-filter>

<!--            <intent-filter>
                <action android:name="com.iffy.mianshi.ReceiverContext" />
            </intent-filter>-->
        </receiver>

        <activity android:name=".alertpopupdialog.PopupDialog">

        </activity>


        <!--布局-->
        <activity android:name=".constraintLayout.MyConstraintLayout">

        </activity>


        <!--序列化-->
        <activity android:name=".parcelableSerializabel.ActivityA">

        </activity>

        <activity android:name=".parcelableSerializabel.ActivityB">

        </activity>


        <!--存储-->
        <activity android:name=".storage.StoreActivity">

        </activity>

        <activity android:name=".storage.Room.TestRoomActivity">

        </activity>


        <!--Network类-->
        <activity android:name=".network.NetWorkActivity">


        </activity>

        <!--rxjava-->
        <activity android:name=".rxjava.create.demo.RxjavaCreateActivity">

        </activity>

        <activity android:name=".rxjava.transformOperation.demo.TransformActivity">

        </activity>


        <activity android:name=".rxjava.function.demoA.SchedulerActivity">

        </activity>


        <activity android:name=".rxjava.function.demoNetworkLunXun.WangLuoLunXunRepeatWhenActivity">

        </activity>

        <activity android:name=".rxjava.function.wangluoChuCuoChongShi.WangLuoChuCuoChongShiActivity">

        </activity>

        <activity android:name=".rxjava.filter.demoA.DebounceActivity">


        </activity>

        <activity android:name=".rxjava.filter.demoB.InputSearchUnbounceActivity"></activity>

        <activity android:name=".rxjava.backPressure.BackPressureActivity">


        </activity>

        <activity android:name=".rxjava.backPressure.StratageActivity">

        </activity>

        <activity android:name=".rxjava.rxAndRetroDemo.translation.RxAndRetroActivity">

        </activity>

        <activity android:name=".rxjava.rxAndRetroDemo.networkPollingNoCondition.NetworkPollingActivity"></activity>


        <activity android:name=".rxjava.rxAndRetroDemo.networkPollingWithCondition.NetworkPollingWithConditionActivity"></activity>

        <activity android:name=".rxjava.rxAndRetroDemo.qiantaohuidiao.QianTaoHuidiao">


        </activity>


        <activity android:name=".rxjava.merge.demoB.MergeNetworkAndLocalActivity">

        </activity>

        <activity android:name=".rxjava.pictureCacheDemo.PictureCacheActivity">


        </activity>




        <activity android:name=".firebase.MyFireBase">


        </activity>





        <!--popupwindow-->
        <activity android:name="com.iffy.mianshi.popupwindow.PopUpWinActivity" />

        <activity android:name=".hashmapSpareArray.HashMapSpareArrayActivity">


        </activity>


        <activity android:name="com.iffy.mianshi.algorithm.lrucache.activity.MyLruCacheActivity">

        </activity>

        <!--热修复-->

        <activity android:name=".hotfix.HotfixActivity">

        </activity>

        <!--IMG框架-->
        <activity android:name=".imageFrameWork.GlideActivity">

        </activity>


        <activity android:name=".imageFrameWork.PicassoActivity">

        </activity>

        <activity android:name=".imageFrameWork.VectorActivity">

        </activity>

        <activity android:name=".imageFrameWork.DisplayMetricsActivity">

        </activity>


    </application>

</manifest>